@page "/workitemdetails/{Id}"

@using ClassLibrary.Interfaces;
@using Entities;

@inject IAzureWorkItemsService AzureWorkItemsService

@if (_workItem != null)
{
    <div class="grid-container">
        @foreach (var item in _workItem.value)
        {
            <div class="card text-dark bg-light mb-3">
                <div class="card-header"><strong>@item.fields.SystemTitle</strong></div>
                <div class="card-body">
                    <p>
                        <strong>
                            Assigned To:
                        </strong>
                        <br />@item.fields.SystemAssignedTo?.displayName
                    </p>
                    
                    <p>
                        <strong>
                            State:
                        </strong>
                        <br />@item.fields.State
                    </p>

                    <p>
                        <strong>
                            Description:
                        </strong>
                        <br />@((MarkupString) item.fields.SystemDescription)
                    </p>

                    <p>
                        <strong>
                            Id:
                        </strong>
                        <br />@item.fields.SystemId
                    </p>

                    <p>
                        <strong>
                            Path:
                        </strong>
                        <br />@item.fields.SystemIterationPath
                    </p>

                    <p>
                        <strong>
                            Type:
                        </strong>
                        <br />@item.fields.SystemWorkItemType
                    </p>
                </div>
            </div>

        }
    </div>
}

@code {

    [Parameter]
    public string Id { get; set; }

    WorkItemIteration _workItemIteration;
    WorkItem _workItem;

    protected override async Task OnInitializedAsync()
    {
        _workItemIteration = await AzureWorkItemsService.GetWorkItems(Id);

        var ids = _workItemIteration.workItemRelations.Select(x => x.target.id);
        _workItem = await AzureWorkItemsService.GetWorkItemDetails(ids);

        var b = _workItem;
    }
}